<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCeMY0p5nRmTgqvmYx7zawYZnoGa6zZKQw</string>
	<key>GCM_SENDER_ID</key>
	<string>350419762712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.routeSearch</string>
	<key>PROJECT_ID</key>
	<string>route-search-3976b</string>
	<key>STORAGE_BUCKET</key>
	<string>route-search-3976b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350419762712:ios:7c060c2c1c492c9ab28d6d</string>
</dict>
</plist>